*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "roboto";
}

/* Colors, fonts */

.header, .footer{
    background-color: #1F2937;
    color: white;
}

.info2{
    background-color: #e5e7eb;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.text1 > p, a{
    color: #e5e7eb;
    font-size: 18px;
}

.nav > p{
    font-size: 24px;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
    border: none;
    max-width: 100px;
    cursor: pointer;
}

/* design */

.container{
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */

.header{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
    padding: 30px 200px 70px 200px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav > ul{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    gap: 150px;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
}
.text1{
    flex: 2;
    gap: 18px;
    display: flex;
    flex-direction: column;
}

.img1 > img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: none;
    width: 500px;
    height: 250px;
}

/* content */

.info1 ,.info2 ,.info3{
    display: flex;
    flex: 1;
} 

/* info1 */

img {
    border: #3882f6 solid 3px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.info1{
    flex-direction: column;
    text-align: center;
    padding: 0 250px 150px 250px;
}
h2{
    padding: 30px 0 40px 0;
}

.cont1{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.item > p{
    max-width: 250px;
}

/* info2 */

.info2{
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 60px 50px;
}

.info2 > p:first-child{
    text-align: center;
    padding: 20px 200px 40px;
}
.info2 >p:last-child{
    font-weight: bold;
    text-align: right;
    padding-right: 200px;
}

/* info3 */

.info3{
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.signup{
    background-color: #3882f6;
    padding: 25px 100px;
    color: #e5e7eb;
    display: flex;
    gap: 50px;
    align-items: center;
    border-radius: 10px;
}

.signup >button{
    border: #e5e7eb solid 1px;
    padding: 8px 28px;
}

.txt-info3 >p:first-child{
    font-weight: bold;
    font-size: 20px;
}

/* footer */

.footer{
    padding:  20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}